<article>
    <h1 class="heading">Portfolio</h1>
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="images/poster.jpg" class="card-img-top" alt="Illustrator poster">
                    <div class="card-body">
                        <h5 class="card-title">Illustrator Poster</h5>
                        <p class="card-text">Recently designed for client projects.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/exterior-render.jpg" class="card-img-top" alt="3d exterior render">
                    <div class="card-body">
                        <h5 class="card-title">3D Exterior</h5>
                        <p class="card-text">3d render of an exterior building using 3d software.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/digital-painting.jpg" class="card-img-top" alt="Digital digital-painting">
                    <div class="card-body">
                        <h5 class="card-title">Digital Paining</h5>
                        <p class="card-text">Made using photoshop with the help of customized brush tool in photoshop.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/scooter.jpg" class="card-img-top" alt="3D Scooter">
                    <div class="card-body">
                        <h5 class="card-title">3d Scooter</h5>
                        <p class="card-text">3d model of a scooter made using 3d software.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/coffee-packagae-design.jpg" class="card-img-top" alt="Coffee package design">
                    <div class="card-body">
                        <h5 class="card-title">Product Package Design</h5>
                        <p class="card-text">A product package design for a coffee shop made using photoshop.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/bakery-package-design.jpg" class="card-img-top" alt="Backery package design">
                    <div class="card-body">
                        <h5 class="card-title">Prodouct Pakage Design</h5>
                        <p class="card-text">A bakery product package design made using photoshop.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </article>